/**{
    border: 1px red solid;
}*/

body{
    background-color: black;
    
}

#titulo{
    color: white;
    text-shadow:
    0 0 2px #e84a5f,
    0 0 3px #e84a5f,
    0 0 5px #e84a5f;
    padding-left: 10px;
    padding-right: 10px;
        box-shadow: 0 0 .2rem #fff,
              0 0 0.3rem #e84a5f,
              0 0 0.4rem #e84a5f,
              0 0 0.5rem #e84a5f,
              inset 0 0 0.6rem #e84a5f; 
}

#formato{
    text-align: center;
    color: white;
    text-shadow:
    0 0 2px #e84a5f,
    0 0 3px #e84a5f,
    0 0 5px #e84a5f;
}

hr{
    width: 40%;
}



#encabezado{
    background-color: #ff857c00;
    box-shadow: 0 0 .2rem #fff,
              0 0 0.3rem #e84a5f,
              0 0 0.4rem #e84a5f,
              0 0 0.5rem #e84a5f,
              inset 0 0 0.6rem #e84a5f; 
    width: 600px;
    margin: auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#formulario{
    background-color: #2e2e2e;
    width: 600px;
    margin: auto;
    color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
    color: white;
    text-shadow:
    0 0 2px #e84a5f,
    0 0 3px #e84a5f,
    0 0 5px #e84a5f;
        box-shadow: 0 0 .2rem #fff,
              0 0 0.3rem #e84a5f,
              0 0 0.4rem #e84a5f,
              0 0 0.5rem #e84a5f,
              inset 0 0 0.6rem #e84a5f; 
}

.cuerpoForma{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}


#boton{
text-align: center;
width: 500px;
}

hr{
    width: auto;
}

button{
    background-color: #e84a5f77;
    width: 100px;
    height: 50px;
    border-radius: 0px;
    transition: 0.2s;
    border: 1px solid #fff;
    box-shadow: 0 0 .2rem #fff,
              0 0 0.3rem #e84a5f,
              0 0 0.4rem #e84a5f,
              0 0 0.5rem #e84a5f,
              inset 0 0 0.6rem #e84a5f; 

    

}

button:hover{
    color: white;
    transition: 0.2s;
    transition: 0.2s;
    border: 1px solid #fff;
    box-shadow: 0 0 .2rem #fff,
              0 0 0.3rem #e84a5f,
              0 0 0.4rem #e84a5f,
              0 0 0.5rem #e84a5f,
              inset 0 0 0.6rem #e84a5f; 
    border-radius: 20px;

    color: #fff;
    text-shadow:
      0 0 10px #e84a5f,
      0 0 15px #e84a5f,
      0 0 20px #e84a5f;

}
    




.inputsresultados{
    padding-left: 50px;
}

#domicilios{
    display: flex;
}





hr{
    box-shadow:     
    0 0 0.1rem #e84a5f,
    0 0 0.2rem #e84a5f,
    0 0 0.3rem #e84a5f,
    inset 0 0 0.4rem #e84a5f; 

}

input{
    box-shadow: 
    0 0 0.1rem #e84a5f,
    0 0 0.2rem #e84a5f,
    0 0 0.3rem #e84a5f,
    inset 0 0 0.4rem #e84a5f; 
}